<!DOCTYPE html>
html(lang="en")
    head
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css')
        link(rel='stylesheet', href='/css/main.css')
        link(rel='stylesheet', href='/css/select2.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js')
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        if title
            title #{title}
    body.flex.flex-col.h-full.bg-gray-100
        header.bg-white.border-b.py-4
            nav(class="lg_w-8/12").ot-header-nav.mx-auto.flex.justify-between.flex-col.md_flex-row
                ul.inline-block
                    if url1
                        li
                            a(href=url1.link) #{url1.title}
                    if url2
                        li
                            a(href=url2.link) #{url2.title}
                    if url3
                        li
                            a(href=url3.link) #{url3.title}
                if !authPage
                    form(method='POST', action=('/logout'))
                        button(type="submit") Logout

        block content
        script(src='/js/main.js')